
// font-sizes
$pokedex-font-size-14: 14px;
$pokedex-font-size-16: 16px;
$pokedex-font-size-18: 16px;
$pokedex-font-size-40: 40px;

//colors
$pokedex-color-white: #ffffff;
$pokedex-color-blue-strong:  #373E59;
$pokedex-color-yellow-strong: #B3A125;
$pokedex-color-red: #C22E28;


//others
$pokedex-spacing-4: 4px;
$pokedex-spacing-8: 8px;
$pokedex-spacing-12: 12px;
$pokedex-spacing-16: 16px;
$pokedex-spacing-20: 20px;
$pokedex-spacing-24: 24px;
$pokedex-spacing-40: 40px;

//font weight
$pokedex-font-weight-light: 300;
$pokedex-font-weight-normal: 500;
$pokedex-font-weight-bold: 700;
