.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $pokedex-color-blue-strong;
    padding: $pokedex-spacing-12;

    .header-image {
        width: 250px;
    }

    .header-menu {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: $pokedex-spacing-20;
        margin: $pokedex-spacing-12;
    }

    .header-menu__item {
        font-size: $pokedex-font-size-18;
    }

    .header-menu__item a {
        color: $pokedex-color-white;
        text-decoration: none;
    }
}